<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            let deleteLink = $("a:contains('delete')");
            $(deleteLink).click(function (event) {
                $.ajax({
                    url: $(event.target).attr("href"),
                    type: "get",
                    beforeSend: function (xhr) {
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },
                    success: function (c) {
                        console.log("success")
                        let respContent = "";
                        let rowToDelete = $(event.target).closest("tr");
                        rowToDelete.remove();
                        respContent += "<span class='success'>User was deleted: [";
                        respContent += "]</span>";
                        $("#deleteCustomer").html(respContent);
                    }
                });
                event.preventDefault();
            });
        });
    </script>
</head>
<body>
<h1>AppUser List</h1>
<div class="container">
    <table class="table table-hover" >
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Email</td>
            <td>Date</td>
            <td>Edit</td>
            <td>Delete</td>
        </tr>
        <tr>
        <tr th:each = "user : ${userList}">
            <td th:text="${user.userId}"></td>
            <td th:text="${user.username}"></td>
            <td th:text="${user.email}"></td>
            <td th:text="${user.created}"></td>
        <td><a th:href="@{/admin1/app-user/edit/__${user.userId}__}">Edit</a></td>
        <td><a th:href="@{/admin1/app-user/delete/__${user.userId}__}">Delete</a></td>
        </tr>
    </table>
</div>
</body>
</html>