<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"  xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head th:insert="Fragment.html::header">
</head>
<body>
<nav th:insert="Fragment.html::navbar"></nav>
<main style="margin-bottom: 4rem">
    <div class="container">
        <div class="row">
            <div class="col col-12">
                <br>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
    </div>
    <div th:id="mainbody">
        <th:block th:insert="Fragment.html::posts">

        </th:block>
    </div>
</main>
</body>
</html>